button {
    background-color: #E24645;
    border: 0px;
    border-radius: 3px;
    color: white;
    font-size: 17px;
    font-family: "PingFang SC";
    cursor: pointer;
    width: 92px;
    height: 36px;
}